# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.swp

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Datos locales grandes (opcional, si no querés commitear el CSV inicial)
# data/historico_base.csv
dom_renderizado.html
backtest_ayer.json
